/* font files */
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

@font-face {
    font-family: PP Radio Grotesk-Ultralight;
    src: url(fonts/PPRadioGrotesk-Ultralight.otf);
    font-weight:200;
}

@font-face {
    font-family: PP Radio Grotesk-UltralightItalic;
    src: url(fonts/PPRadioGrotesk-UltralightItalic.otf);
    font-weight: 200;
}

@font-face {
    font-family: PP Radio Grotesk-Regular;
    src: url(fonts/PPRadioGrotesk-Regular.otf);
    font-weight: 300;
}

@font-face {
    font-family: SF Pro;
    src: url(fonts/SF-Pro.ttf);
}

@font-face {
    font-family: Pixelify;
    src: url(fonts/PixelifySans-VariableFont_wght.ttf)
}

@font-face {
    font-family: SF Mono;
    src: url(fonts/SF-Mono-Regular.otf)
}

/* variable list */
:root {
    /* general styles */
    --heading-font-family: PP Radio Grotesk-Regular;
    --label-background-width: 75vw;
    --label-border: 2px solid black;
    --label-padding: 3px 8px 2px;
    --label-margin: 30px 32px;
    --main-line-height: 135%;
    --dark-background: black;
    --main-margin-bottom: 100px;

    /* imagery style(s) */
    --imagery-font-family: Pixelify;
    --outline-width: 1px;
    --outline-color: black;
    --imagery-font-weight: 600;
    --imagery-caption-font-family: SF Mono;
    --imagery-caption-font-size: 16px;
    --imagery-caption-font-color: gray;

    /* interaction style(s) */
    --hover-effect: ease-in-out 0.3s;

    /* H1 styles */
    --h1-font-family: SF Pro;
    --h1-font-size: 60px;
    --h1-font-weight: 600;
    --h1-line-height: 100%;

    /* H2 style(s) */
    --h2-font-size: 36px;

    /* H3 style(s) */
    --h3-font-size: 17px;

    /* H4 style(s) */
    --h4-font-size: 20px;
    --h4-width: 90%;
    --h4-margin: 25px 0px;

    /* paragraph style(s) */
    --main-text-font-family: PP Radio Grotesk-Ultralight;
    --main-text-font-size: 19px;
    --main-text-width: 90%;
    --paragraph-spacing: 2rem;

    /* blockquote style(s) */
    --blockquote-font-family: Bitter;
    --blockquote-font-size: 27px;
    --blockquote-margin: 100px 30px 100px 40px;

    /* header style(s) */
    --header-height: 100%;
    --header-padding: 5%;

    /* main color scheme */
    --introduction-section: #FF5BF8;
    --laurel-section: #f6fa70;
    --color-blindness-section: white;
    --different-reds-section: #FF444C;
    --effect-of-colors-section: #00ffff;
    --nature-of-surface-section: #43B3ae;
    --purkinje-section: #36AE7C;
    --ultramarine-section: #3284FF;
    --gray-section: #D9D9D9;
}

/* heading styles */
h1 {
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
    text-transform: uppercase;
}

h2 {
    font-family: var(--heading-font-family);
    font-size: var(--h2-font-size);
}

h3 {
    font-family: var(--heading-font-family);
    width: var(--label-background-width);
    border: var(--label-border);
    padding: var(--label-padding);
    margin: var(--label-margin);
}

h4 {
    font-family: var(--heading-font-family);
    font-size: var(--h4-font-size);
    width: var(--h4-width);
    margin: var(--h4-margin);
}

p {
    font-family: var(--main-text-font-family);
    font-size: var(--main-text-font-size);
    line-height: var(--main-line-height);
    width: var(--main-text-width);
    margin: auto;
    margin-bottom: var(--paragraph-spacing)
}

blockquote {
    font-family: var(--blockquote-font-family);
    font-size: var(--blockquote-font-size);
    line-height: var(--main-line-height);
    margin: var(--blockquote-margin);
}

em {
    font-family: PP Radio Grotesk-UltralightItalic;
}

a {
    text-decoration: underline 2px;
}

/* semantic DOM */
body {
    margin: 5%;
}

header {
    background: black;
    color: white; 
    min-height: var(--header-height);
    margin: -5%;
    margin-bottom: var(--main-margin-bottom);
    padding: var(--header-padding);
}

/* class styles */
.section_main-body {
    margin-bottom: var(--main-margin-bottom);
}

.header_outline-text {
    color: transparent;
    -webkit-text-stroke-width: var(--outline-width);
    -webkit-text-stroke-color: white;
}

.header_disclaimer-paragraph {
    margin-top: 50px;
    margin-left: 0%;
}

.header_subheading {
    font-size: 26px;
    line-height: 100%;

    margin-left: 0%;
    margin-bottom: 25px;
}

.header_smaller-subheading {
    font-size: 20px;

    margin-left: 0%;
    margin-bottom: 25px;
}

/* Header Imagery */
.header_imagery {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-bottom: 25px;
}

.header_imagery div {
    border-radius: 100%;
    position: relative;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-right: 1rem;
}

.header_imagery div p {
    margin: 0px;
    color: black;
    font-family: var(--heading-font-family);
    font-size: 16px;
}

.header_imagery div:nth-of-type(1) {
    background-color: var(--introduction-section);
}

.header_imagery div:nth-of-type(2) {
    background-color: var(--laurel-section);
}

.header_imagery div:nth-of-type(3) {
    background-color: var(--color-blindness-section);
}

.header_imagery div:nth-of-type(4) {
    background-color: var(--different-reds-section);
}

.header_imagery div:nth-of-type(5) {
    background-color: var(--effect-of-colors-section);
}

.header_imagery div:nth-of-type(6) {
    background-color: var(--nature-of-surface-section);
}

.header_imagery div:nth-of-type(7) {
    background-color: var(--purkinje-section);
}

/* the ladder thing */
.section_main-body {
    border-left: 2px solid #000;
    /* padding: 0 0 0 30px; */
    position: relative;
}

.title-container {
    display: flex;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.square {
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    position: absolute;
    left: -16px;
}

/* introduction */
.section_main-body > section:nth-of-type(1) .title-container .square, .section_main-body > section:nth-of-type(1) .title-container h3 {
    background-color: var(--introduction-section);
}

.section_main-body > section:nth-of-type(1) a:hover {
    background-color: var(--introduction-section);
    transition: var(--hover-effect);
}

/* Laurel Schwulst */
.section_main-body > section:nth-of-type(2) .title-container .square, .section_main-body > section:nth-of-type(2) .title-container h3 {
    background-color: var(--laurel-section);
}

.section_main-body > section:nth-of-type(2) a:hover {
    background-color: var(--laurel-section);
    transition: var(--hover-effect);
}

/* Color Blind */
.section_main-body > section:nth-of-type(3) .title-container .square, .section_main-body > section:nth-of-type(3) .title-container h3 {
    background-color: var(--color-blindness-section);
}

.section_main-body > section:nth-of-type(3) a:hover {
    background-color: var(--color-blindness-section);
    transition: var(--hover-effect);
}

/* Different reds */
.section_main-body > section:nth-of-type(4) .title-container .square, .section_main-body > section:nth-of-type(4) .title-container h3 {
    background-color: var(--different-reds-section);
}

.section_main-body > section:nth-of-type(4) a:hover {
    background-color: var(--different-reds-section);
    transition: var(--hover-effect);
}

/* Effects of Colors */
.section_main-body > section:nth-of-type(5) .title-container .square, .section_main-body > section:nth-of-type(5) .title-container h3 {
    background-color: var(--effect-of-colors-section);
}

.section_main-body > section:nth-of-type(5) a:hover {
    background-color: var(--effect-of-colors-section);
    transition: var(--hover-effect);
}

/* Nature of Surface */
.section_main-body > section:nth-of-type(6) .title-container .square, .section_main-body > section:nth-of-type(6) .title-container h3 {
    background-color: var(--nature-of-surface-section);
}

.section_main-body > section:nth-of-type(6) a:hover {
    background-color: var(--nature-of-surface-section);
    transition: var(--hover-effect);
}

/* Purkinje Section - Because we have our Java section, it goes from 6th child to 8th child */
.section_main-body > section:nth-of-type(8) .title-container .square, .section_main-body > section:nth-of-type(8) .title-container h3 {
    background-color: var(--purkinje-section);
}

.section_main-body > section:nth-of-type(8) a:hover {
    background-color: var(--purkinje-section);
    transition: var(--hover-effect);
}

/* Ultramarine Section */
.section_main-body > section:nth-of-type(9) .title-container .square, .section_main-body > section:nth-of-type(9) .title-container h3 {
    background-color: var(--ultramarine-section);
}

.section_main-body > section:nth-of-type(9) a:hover {
    background-color: var(--ultramarine-section);
    transition: var(--hover-effect);
}

/* Gray Section */
.section_main-body > section:nth-of-type(10) .title-container .square, .section_main-body > section:nth-of-type(10) .title-container h3 {
    background-color: var(--gray-section);
}

.section_main-body > section:nth-of-type(10) a:hover {
    background-color: var(--gray-section);
    transition: var(--hover-effect);
}

/* RYG Imagery */
.imagery_ryg {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.imagery_ryg-content {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 200px;
}

.imagery_ryg-content-red {
    font-family: var(--imagery-font-family);
    font-size: 125px;
    font-weight: var(--imagery-font-weight);
    color: #F45050;
    -webkit-text-stroke-width: var(--outline-width);
    -webkit-text-stroke-color: var(--outline-color);
}

.imagery_ryg-content-yellow {
    font-family: var(--imagery-font-family);
    font-size: 125px;
    font-weight: var(--imagery-font-weight);
    color: #F6FA70;
    -webkit-text-stroke-width: var(--outline-width);
    -webkit-text-stroke-color: var(--outline-color);
}

.imagery_ryg-content-green {
    font-family: var(--imagery-font-family);
    font-size: 125px;
    font-weight: var(--imagery-font-weight);
    color: #36AE7C;
    -webkit-text-stroke-width: var(--outline-width);
    -webkit-text-stroke-color: var(--outline-color);
}

.imagery_ryg-content p:nth-child(2) {
    font-family: var(--imagery-caption-font-family);
    font-size: var(--imagery-caption-font-size);
    color: var(--imagery-caption-font-color);
    margin-top: -2rem;
}

/* Laurel Section "Imagery' */
.imagery_laurel {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    align-content: center;
    justify-content: space-between;
    text-align: center;

    margin: auto;
}

.imagery_laurel p {
    font-family: var(--imagery-caption-font-family);
    font-size: var(--imagery-caption-font-size);
    color: var(--imagery-caption-font-color);
}

.imagery_laurel-content {
    display: flex;
    flex-direction: row;
    margin-bottom: -2rem;
}

.imagery_laurel-content p {
    font-family: var(--imagery-font-family);
    font-weight: var(--imagery-font-weight);
    font-size: 75px;
    color: var(--laurel-section);
    -webkit-text-stroke-width: var(--outline-width);
    -webkit-text-stroke-color: var(--outline-color);
}

.imagery_laurel-content p:first-child {
    transform: rotate(0deg);
}

.imagery_laurel-content p:nth-child(2) {
    transform: rotate(90deg);
}

.imagery_laurel-content p:nth-child(3) {
    transform: rotate(180deg);
}

.imagery_laurel-content p:nth-child(4) {
    transform: rotate(270deg);
}

/* Color Blindness "Image" */
.imagery_color-blindness {
    display: flex;
    flex-direction: column;
}

.imagery_color-blindness-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imagery_color-blindness-content p{
    font-family: var(--imagery-caption-font-family);
    font-size: var(--imagery-caption-font-size);
    color: var(--imagery-caption-font-color);
}

.imagery_color-blindness-content-roygbiv {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: -2rem;
}

.imagery_color-blindness-content-roygbiv p {
    font-family: var(--imagery-font-family);
    font-weight: var(--imagery-font-weight);
    font-size: 36px;

    -webkit-text-stroke-width: var(--outline-width);
    -webkit-text-stroke-color: var(--outline-color);
}

.imagery_color-blindness-content-roygbiv p:first-child {
    color: #F5544C;
}

.imagery_color-blindness-content-roygbiv p:nth-child(2) {
    color: #FD8013;
}

.imagery_color-blindness-content-roygbiv p:nth-child(3) {
    color: #F8EC61;
}

.imagery_color-blindness-content-roygbiv p:nth-child(4) {
    color: #8DD177;
}

.imagery_color-blindness-content-roygbiv p:nth-child(5) {
    color: #4EB87B;
}

.imagery_color-blindness-content-roygbiv p:nth-child(6) {
    color: #1A92C3;
}

.imagery_color-blindness-content-roygbiv p:nth-child(7) {
    color: #057EF4;
}

.imagery_color-blindness-content-roygbiv p:nth-child(8) {
    color: #0135FF;
}

.imagery_color-blindness-content-roygbiv p:nth-child(9) {
    color: #1508DA;
}

.imagery_color-blindness-content-roygbiv p:nth-child(10) {
    color: #49027C;
}

.imagery_color-blindness-content-color-blind {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: -2rem;
}

.imagery_color-blindness-content-color-blind p {
    font-family: var(--imagery-font-family);
    font-weight: var(--imagery-font-weight);
    font-size: 36px;

    -webkit-text-stroke-width: var(--outline-width);
    -webkit-text-stroke-color: var(--outline-color);
}

.imagery_color-blindness-content-color-blind p:first-child {
    color: #B8A046;
}

.imagery_color-blindness-content-color-blind p:nth-child(2) {
    color: #CBB949;
}

.imagery_color-blindness-content-color-blind p:nth-child(3) {
    color: #DED15B;
}

.imagery_color-blindness-content-color-blind p:nth-child(4) {
    color: #EDE282;
}

.imagery_color-blindness-content-color-blind p:nth-child(5) {
    color: #D6C175;
}

.imagery_color-blindness-content-color-blind p:nth-child(6) {
    color: #8E9E94;
}

.imagery_color-blindness-content-color-blind p:nth-child(7) {
    color: #057EF4;
}

.imagery_color-blindness-content-color-blind p:nth-child(8) {
    color: #0135FF;
}

.imagery_color-blindness-content-color-blind p:nth-child(9) {
    color: #1508DA;
}

.imagery_color-blindness-content-color-blind p:nth-child(10) {
    color: #49027C;
}

/* Different Reds "Imagery" */
.imagery_red-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.imagery_red-content p{
    font-family: var(--imagery-caption-font-family);
    font-size: var(--imagery-caption-font-size);
    color: var(--imagery-caption-font-color);
}

.imagery_red-content-colors {
    display: grid;
    grid-template-columns: repeat(10, .5fr);
    grid-template-rows: repeat(5, .75fr);
    justify-content: space-between;
    margin-bottom: 20px;
}

.imagery_red-content-colors p {
    font-family: var(--imagery-font-family);
    font-weight: var(--imagery-font-weight);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    -webkit-text-stroke-width: var(--outline-width);
    -webkit-text-stroke-color: var(--outline-color);
}

.imagery_red-content-colors p:nth-child(1){
    color: #f45050;
}
.imagery_red-content-colors p:nth-child(2){
    color: #C70039;
}
.imagery_red-content-colors p:nth-child(3){
    color: #D83F31;
}
.imagery_red-content-colors p:nth-child(4){
    color: #D80032;
}
.imagery_red-content-colors p:nth-child(5){
    color: #952323;
}
.imagery_red-content-colors p:nth-child(6){
    color: #A73121;
}
.imagery_red-content-colors p:nth-child(7){
    color: #BB2525;
}
.imagery_red-content-colors p:nth-child(8){
    color: #F94C10;
}
.imagery_red-content-colors p:nth-child(9){
    color: #C51605;
}
.imagery_red-content-colors p:nth-child(10){
    color: #D71313;
}
.imagery_red-content-colors p:nth-child(11){
    color: #FE0000;
}
.imagery_red-content-colors p:nth-child(12){
    color: #EF6262;
}
.imagery_red-content-colors p:nth-child(13){
    color: #F24C3D;
}
.imagery_red-content-colors p:nth-child(14){
    color: #B31312;
}
.imagery_red-content-colors p:nth-child(15){
    color: #CD1818;
}
.imagery_red-content-colors p:nth-child(16){
    color: #B70404;
}
.imagery_red-content-colors p:nth-child(17){
    color: #E76161;
}
.imagery_red-content-colors p:nth-child(18){
    color: #B04759;
}
.imagery_red-content-colors p:nth-child(19){
    color: #E06469;
}
.imagery_red-content-colors p:nth-child(20){
    color: #FF6969;
}
.imagery_red-content-colors p:nth-child(21){
    color: #FF6D60;
}
.imagery_red-content-colors p:nth-child(22){
    color: #D21312;
}
.imagery_red-content-colors p:nth-child(23){
    color: #ED2B2A;
}
.imagery_red-content-colors p:nth-child(24){
    color: #F15A59;
}
.imagery_red-content-colors p:nth-child(25){
    color: #E74646;
}
.imagery_red-content-colors p:nth-child(26){
    color: #FC2947;
}
.imagery_red-content-colors p:nth-child(27){
    color: #FE6244;
}
.imagery_red-content-colors p:nth-child(28){
    color: #EA5455;
}
.imagery_red-content-colors p:nth-child(29){
    color: #E21818;
}
.imagery_red-content-colors p:nth-child(30){
    color: #DF2E38;
}
.imagery_red-content-colors p:nth-child(31){
    color: #FF0303;
}
.imagery_red-content-colors p:nth-child(32){
    color: #EB455F;
}
.imagery_red-content-colors p:nth-child(33){
    color: #F16767;
}
.imagery_red-content-colors p:nth-child(34){
    color: #F94A29;
}
.imagery_red-content-colors p:nth-child(35){
    color: #F55050;
}
.imagery_red-content-colors p:nth-child(36){
    color: #CD0404;
}
.imagery_red-content-colors p:nth-child(37){
    color: #DC0000;
}
.imagery_red-content-colors p:nth-child(38){
    color: #850000;
}
.imagery_red-content-colors p:nth-child(39){
    color: #EB455F;
}
.imagery_red-content-colors p:nth-child(40){
    color: #DC3535;
}
.imagery_red-content-colors p:nth-child(41){
    color: #E14D2A;
}
.imagery_red-content-colors p:nth-child(42){
    color: #FF6464;
}
.imagery_red-content-colors p:nth-child(43){
    color: #FF5858;
}
.imagery_red-content-colors p:nth-child(44){
    color: #CF0A0A;
}
.imagery_red-content-colors p:nth-child(45){
    color: #B73E3E;
}
.imagery_red-content-colors p:nth-child(46){
    color: #DD5353;
}
.imagery_red-content-colors p:nth-child(47){
    color: #FF1E1E;
}
.imagery_red-content-colors p:nth-child(48){
    color: #E14D2A;
}
.imagery_red-content-colors p:nth-child(49){
    color: #CC3636;
}
.imagery_red-content-colors p:nth-child(50){
    color: #D2001A;
}

/* Gray section Imagery */
.imagery_gray-content-colors p {
    font-family: var(--imagery-font-family);
    font-weight: var(--imagery-font-weight);
    font-size: 70px;
    -webkit-text-stroke-width: var(--outline-width);
    -webkit-text-stroke-color: var(--outline-color);
    color: #ffffff;
    margin-bottom: 0;
}

.imagery_gray-content-label p {
    font-family: var(--imagery-caption-font-family);
    font-size: var(--imagery-caption-font-size);
    color: var(--imagery-caption-font-color);
    -webkit-text-stroke-color: none;
    -webkit-text-stroke-width: none;
}

.imagery_gray-content {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat (2, auto);
    /* flex-direction: column; */
    text-align: center;
    align-items: center;
    /* justify-content: space-between; */
}

.imagery_gray-content-colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    align-items: center; */
}

    /* gray content colors */
.imagery_gray-content-colors:nth-child(1) p {
    color: rgba(128,128,128,1); 
}

.imagery_gray-content-colors:nth-child(2) p {
    color: rgba(128,128,128,0.9); 
}

.imagery_gray-content-colors:nth-child(3) p {
    color: rgba(128,128,128,0.8); 
}

.imagery_gray-content-colors:nth-child(4) p {
    color: rgba(128,128,128,0.7); 
}

.imagery_gray-content-colors:nth-child(5) p {
    color: rgba(128,128,128,0.6); 
}

.imagery_gray-content-colors:nth-child(6) p {
    color: rgba(128,128,128,0.5); 
}

.imagery_gray-content-colors:nth-child(7) p {
    color: rgba(128,128,128,0.4); 
}


.imagery_gray-content-colors:nth-child(8) p {
    color: rgba(128,128,128,0.3); 
}


.imagery_gray-content-colors:nth-child(9) p {
    color: rgba(128,128,128,0.2); 
}

.imagery_gray-content-colors:nth-child(10) p {
    color: rgba(128,128,128,0.1); 
}


/* Tablet Media Query  */
/* Tablet Media Query  */
/* Tablet Media Query  */
/* Tablet Media Query  */
@media (min-width: 768px) {
    p {
        width: 70%;
        font-size: 23px;
    }

    blockquote {
        width: 70%;
        margin: 100px 30px 100px 200px;
    }

     /* red imagery  */
     .imagery_red-content-colors p {
        font-weight: ;
        font-size: 60px;
        margin:0 10px 0;
    }
}

/* Desktop Media Query */
/* Desktop Media Query */
/* Desktop Media Query */
/* Desktop Media Query */
@media (min-width: 1280px) {
    :root {
        --h1-font-size: 150px;
        --main-text-font-size: 26px;
    }

    p {
        width: 50%;
        /* margin: auto; */
        margin-bottom: 2rem;
    }

    blockquote {
        width: 50%;
        /* margin: auto; */
        margin: 100px 30px 100px 500px;
    }

    h3 {
        width: 50%;
    }

    /* class styles */

    /* RYG Imagery */
    .imagery_ryg {
        justify-content: center;
        margin: 0;
    }


    /* red imagery  */
    .imagery_red-content-colors p {
        font-weight: ;
        font-size: 80px;
        margin:0 20px 0;
    }


}
    
