@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

@font-face {
    font-family: PP Radio Grotesk-Ultralight;
    src: url(fonts/PPRadioGrotesk-Ultralight.otf);
    font-weight:200;
}

@font-face {
    font-family: PP Radio Grotesk-UltralightItalic;
    src: url(fonts/PPRadioGrotesk-UltralightItalic.otf);
    font-weight: 200;
}

@font-face {
    font-family: PP Radio Grotesk-Regular;
    src: url(fonts/PPRadioGrotesk-Regular.otf);
    font-weight: 300;
}

p {
    font-family: PP Radio Grotesk-Ultralight;
    font-size: 25px;
    line-height: 140%;
    max-width: 50rem;
}

h3 {
    font-family: PP Radio Grotesk-Regular;
    font-size: 25px;
}

blockquote {
    font-family: Bitter;
    font-size: 35px;
    line-height: 130%;
    max-width: 50rem;
}

em {
    font-family: PP Radio Grotesk-UltralightItalic;
}

