/* font files */
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

@font-face {
    font-family: PP Radio Grotesk-Ultralight;
    src: url(fonts/PPRadioGrotesk-Ultralight.otf);
    font-weight:200;
}

@font-face {
    font-family: PP Radio Grotesk-UltralightItalic;
    src: url(fonts/PPRadioGrotesk-UltralightItalic.otf);
    font-weight: 200;
}

@font-face {
    font-family: PP Radio Grotesk-Regular;
    src: url(fonts/PPRadioGrotesk-Regular.otf);
    font-weight: 300;
}

/* heading type styles */
h1 {
    font-family: SF Pro;
    font-size: 150px;
    font-weight: 600;
    line-height: 100%;
    
    text-transform: uppercase;
}

h2 {
    font-family: PP Radio Grotesk-Regular;
    font-size: 36px;
}

h3 {
    font-family: PP Radio Grotesk-Regular;
    font-size: 25px;

    /* width: 30rem;
    background-color: teal;
    outline-width: 1px;
    outline-color: black; */
}

p {
    font-family: PP Radio Grotesk-Ultralight;
    font-size: 16px;
    line-height: 135%;
    
    width: 550px;
    margin: auto;
    margin-bottom: 2rem;
    /* max-width: 50rem; */
}

blockquote {
    font-family: Bitter;
    font-size: 35px;
    line-height: 130%;
    max-width: 50rem;

    width: 550px;
    margin: auto;
    padding-left: 6rem;
}

em {
    font-family: PP Radio Grotesk-UltralightItalic;
}

/* semantic DOM styling */
body {
    margin-left: 5%;
}

header {
    background-color: #1B1C1E;
    color: white;

    margin-left: -5%;
    padding-left: 5%;
}



/* class styles */
.outline-text {
    color: transparent;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

/* laptop media query */
@media (min-width: 1280px) {

    /* type styles */
    h1 {
        font-size: 150px;
        font-weight: 600;
    }

    p {
        font-size: 25px;
        line-height: 140%;
    }


    /* semantic DOM */
    body {
        margin-left: 5%;
    }
    
    /* class styles */
    .disclaimer-paragraph {
        font-size: 16px;
        margin-left: 0%;
    }
}

/* tablet media query */
@media (min-width: 425px) {

}